.scena-editor {
    --menu: 45px;
}

.scena-menu {
    display: flex;
    align-items: center;
    width: 100%;
    height: var(--menu);
    background: #F2F2F2;
    box-sizing: border-box;
    padding: 0 1.4rem;
    margin: 1rem 0;
    border-radius: 25px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.scena-menu .red-icon{
    color:  #EF2B2B !important;
}

.scena-menu-bottom {
    box-sizing: border-box;
}

.scena-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 0.5rem;
    color: #000;
    box-sizing: border-box;
    cursor: pointer;
    transition: all ease 0.2s;
    margin: 0;
}

.scena-icon:not(.scena-divider):not(.scena-sub-icon){
    width: var(--menu);
    height: var(--menu);
    min-width: var(--menu);
    min-height: var(--menu);
}

.scena-icon i:not(.divider){
    display: block;
    width: 1rem;
    height: 1rem;
    min-width: 1rem;
    min-height: 1rem;
}
.scena-icon i::before{
    display: flex;
    justify-content: center;
}

.scena-icon label{
    cursor: pointer;
    width: 100%;
    height: 100%;
    display: block;
}
.scena-icon >.scena-icon {
    padding: 0;
}
.scena-icon .color-picker{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1px
}
.scena-icon .color-picker i{
    font-size: 0.75rem;
    height: 0.75rem;
    min-height: 0.75rem;
}
.scena-icon .color-picker .color-preview{
    border-radius: 25px;
    width: 100%;
    height: 2px;
    border: 0.5px solid #fff;
    box-sizing: content-box;
}
.scena-icon .color-picker .color-preview-circle{
    border-radius: 50%;
    width: 1rem;
    height: 1rem;
    border: 1px solid #000;
    box-sizing: border-box;
}
.scena-icon .color-picker .picker{
    position: absolute;
    top: calc(var(--menu) - 0.5rem);
    left: 0.75rem;
    z-index: 9;
}
.scena-icon .color-picker >input{
    width: 0;
    height: 0;
    padding: 0;
    border: none;
}
.scena-menu .scena-selected, .scena-menu-dropdown .scena-selected{
    background: #3D52D9;
}

.scena-icon.scena-selected>i{
    color:#fff
}

.scena-icon .scena-extends-icon {
    position: absolute;
    right: 8px;
    bottom: 8px;
    border-bottom: 5px solid #000;
    border-right: 0;
    border-left: 5px solid transparent;
}

.scena-extends-container {
    position: absolute;
    left: -10px;
    top: calc(var(--menu) - 1px);
    background: #F2F2F2;
    /* width: 200px;
    height: 200px; */
    border-radius: 5px;
    z-index: 9999;
    transform: translate(10px) translateZ(2px);
    box-shadow: 1px 1px 2px var(--back1);
    display: none;
}

.scena-sub-icon {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 0.5rem;
    white-space: nowrap;
    padding: 0px;
}

.scena-sub-icon .scena-icon {
    width: auto !important;
    height: auto !important;
}

.scena-sub-icon-label {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    color: white;
    font-size: 14px;
    font-weight: bold;
    padding: 0;
    margin: 0;
    margin-left: 5px;
}


.scena-keyboard {
    background: #fff;
    border-radius: 3px;
    width: 90%;
    height: 15px;
    margin: 3px 0px 7px;
    text-align: center;
    box-sizing: border-box;
    padding: 2px;
}

.scena-key {
    display: inline-block;
    width: 2px;
    height: 2px;
    background: var(--back2);
    margin: 1px;
}
.scena-space {
    display: inline-block;
    width: 12px;
    height: 2px;
    background: var(--back2);
    margin: 1px;
    border-radius: 1px;
}
.scene-font-size{
    display: flex;
    justify-content: center;
    align-items: center;
}
.scene-font-size button {
    border: none;
    color:#000;
    background: transparent;
    cursor: pointer;
    padding:0 0.2rem;
}
.scene-font-size input{
    width: 2rem;
    color:#fff;
    background: transparent;
    border: 1px solid #fff;
    border-radius: 0.25rem;
    padding: 0.2rem 0.25rem;
    font-size: 0.85rem;
}

.scena-menu-dropdown ul{
    background: #f2f2f2;
}
.scena-menu-dropdown .MuiPaper-root{
    overflow: visible !important;
}
.scena-menu-dropdown .scena-divider{
    transform: rotate(90deg);
}