.scena-color-input {
    position: relative;
}
.scena-color-picker {
    position: absolute;
    top: calc(var(--menu) - 0.75rem);
    left: 0.5rem;
    transform: translateY(10px) translateZ(1px);
    z-index: 999999;
}
@media (max-width: 768px) {
    .scena-color-picker {
        top: inherit;
        bottom: calc(var(--menu) - 0.75rem);
    }
}

.scena-color-background {
    position: relative;
    width: 30px;
    height: 30px;
    background: #4af;
    border-radius: 5px;
    display: inline-block;
    vertical-align: top;
    margin-right: 5px;
}
.scena-color-background+.scena-input {
    display: inline-block;
    vertical-align: top;
    width: calc(100% - 40px);
}
